
.icon-menu:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-glorias:before { content: '\f182'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */